<div class="booyah-box col-10 offset-1">
  <%= image_tag 'user.png', class: "float-left img-fluid" %>
  <h3 class="mb-1 text-break"><%= @user.email %></h3>
  <h6><span class="badge badge-secondary mb-2 cblue">Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></span></h6>
  <span><i>Total Comments: </i><%= @user.comments.count %></span>
  <br/>
  <span><i>5 Star Ratings Given: </i><%= @user.comments.where(rating: '5_stars').count %></span>
</div>

<div class="container">
  <h2>My Comments:</h2>
  <% @user.comments.order(created_at: :desc).each do |comment| %>
    <div class="comment-link mx-5">
      <%= link_to place_path(comment.place) do %>
        <blockquote>
          <% if comment.humanized_rating.present? %>
            <b><%= comment.humanized_rating %></b>
          <% end %>
          <% if comment.humanized_rating.present? && comment.message.present? %>
           - 
          <% end %>
          <% if comment.message.present? %>
            <%= comment.message %>
          <% end %>
          <br/>
          <small class="font-weight-light text-muted">
            <%= comment.place.name %> - <%= comment.created_at.strftime("%B %d, %Y") %>
          </small>
        </blockquote>
      <% end %>
    </div>
  <% end %>
</div>
  
<div class="clear"></div>

<div class="container">
  <h2 class="mb-4">My Places:</h2>

  <% @user.places.order(created_at: :desc).each do |place| %>
    <div class="booyah-box col-10 offset-1">
      <div class="mb-0">
        <small class="text-muted float-right"><%= place.created_at.strftime("%B %d, %Y") %></small>
        <%= link_to place.name, place, class: "h3" %>
      </div>
      <i><%= place.address %></i><br /><br />
      <p><%= place.description %></p><br />


      <% if place.comments.present? %>
        <div class="col-12">
          <blockquote>
            <% if place.comments.last.humanized_rating.present? %>
              <b><%= place.comments.last.humanized_rating %></b> -
            <% end %>
              <%= place.comments.last.message %>
            <small><%= place.comments.last.user.email %></small>
          </blockquote>
        </div>
      <% end %>
    </div>
  <% end %>
</div>