<div id ="carouselWithIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselWithIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselWithIndicators" data-slide-to="1"></li>
    <li data-target="#carouselWithIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'slider1.jpg', class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <p>Coffee shops with great atmosphere!</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'slider2.jpg', class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <p>Beach dining...</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'slider3.jpg', class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <p>Brick-oven pizza.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselWithIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselWithIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="small-caption mx-4"><%= page_entries_info @places %></div>
<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <div class="mb-0">
      <% if place.user.present? %>
          <small class="badge user-email-tag float-right"><%= place.user.email %></small>
      <% end %>
      <%= link_to place.name, place, class: "h3" %>
    </div>
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p><br />


    <% if place.comments.present? %>
      <div class="col-12">
        <blockquote>
          <% if place.comments.last.humanized_rating.present? %>
            <b><%= place.comments.last.humanized_rating %></b> -
          <% end %>
            <%= place.comments.last.message %>
          <small><%= place.comments.last.user.email %></small>
        </blockquote>
      </div>
    <% end %>
  </div>
<% end %>
<div class="d-flex justify-content-center">
  <%= paginate @places %>
</div>