<div class="small-caption mx-4"><%= page_entries_info @places %></div>
<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <div class="mb-0">
      <%= link_to place.name, place, class: "h3" %>
      <% if place.user.present? %>
          <small class="badge user-email-tag float-right"><%= place.user.email %></small>
      <% end %>
    </div>
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p><br />


    <% if place.comments.present? %>
      <div class="col-12">
        <blockquote>
          <% if place.comments.last.humanized_rating.present? %>
            <b><%= place.comments.last.humanized_rating %></b> -
          <% end %>
            <%= place.comments.last.message %>
          <small><%= place.comments.last.user.email %></small>
        </blockquote>
      </div>
    <% end %>
  </div>
<% end %>
<div class="d-flex justify-content-center">
  <%= paginate @places %>
</div>