<div class="small-caption mx-4"><%= page_entries_info @places %></div>
<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <h3><%= place.name %></h3>
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p><br />

    <% if place.user.present? %>
      <div class="d-flex justify-content-end">
        <small class="badge user-email-tag"><%= place.user.email %></small>
      </div>
    <% end %>
  </div>
<% end %>
<div class="d-flex justify-content-center">
  <%= paginate @places %>
</div>