<!DOCTYPE html>
<html>
  <head>
    <title>Nomster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md sticky-top navbar-light light-gray"> 
      <div>
        <a class="navbar-brand" href="#">Nomster</a>

        <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#toggleElement" aria-controls="toggleElement" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="toggleElement">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#">Link</a>
        </div>
      </div>
    </nav>

    <%= yield %>

  </body>
</html>
